@page "/"
@inject IPostService PostService


@if (Posts == null)
{
    <p>Loading news... </p>

}
else
{
    <div class="container">
        <div class="mt-4 mb-4">


            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Title</th>u
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Posts)
                    {
                        <tr>
                            <td>@post.userId</td>
                            <td>@post.id</td>
                            <td>@post.title</td>
                            <td>@post.body</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@code {
    public List<PostItem> Posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Posts = await PostService.GetPosts();
    }

}
